planning_plugins:
  - ompl_interface/OMPLPlanner
request_adapters:
  - default_planning_request_adapters/ResolveConstraintFrames
  - default_planning_request_adapters/ValidateWorkspaceBounds
  - default_planning_request_adapters/CheckStartStateBounds
  - default_planning_request_adapters/CheckStartStateCollision
response_adapters:
  - default_planning_response_adapters/AddTimeOptimalParameterization
  - default_planning_response_adapters/ValidateSolution
  - default_planning_response_adapters/DisplayMotionPath
start_state_max_bounds_error: 0.1

planner_configs:
  RRTConnect:
    type: geometric::RRTConnect
    range: 0.0
  RRTstar:
    type: geometric::RRTstar
    range: 0.0
    goal_bias: 0.05
    delay_collision_checking: 1
  RRT:
    type: geometric::RRT
    range: 0.0
    goal_bias: 0.05
  PRM:
    type: geometric::PRM
    max_nearest_neighbors: 10
  PRMstar:
    type: geometric::PRMstar
  EST:
    type: geometric::EST
    range: 0.0
    goal_bias: 0.05
  KPIECE:
    type: geometric::KPIECE
    range: 0.0
    goal_bias: 0.05
    border_fraction: 0.9
  BKPIECE:
    type: geometric::BKPIECE
    range: 0.0
    border_fraction: 0.9
  LBKPIECE:
    type: geometric::LBKPIECE
    range: 0.0
    border_fraction: 0.9

manipulator:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - RRTstar
    - RRT
    - PRM
    - PRMstar
    - EST
    - KPIECE
    - BKPIECE
    - LBKPIECE
  projection_evaluator: joints(joint_1,joint_2)
  longest_valid_segment_fraction: 0.005

arm:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - RRTstar
    - RRT
    - PRM
    - PRMstar
    - EST
    - KPIECE
    - BKPIECE
    - LBKPIECE
  projection_evaluator: joints(joint_1,joint_2)
  longest_valid_segment_fraction: 0.005

gripper:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - RRTstar
